{% extends 'gryb_app/base.html' %}
{% load static %}

{% block content %}
<section data-bs-version="5.1" class="features20 cid-sUAQ2SPdBH" id="features21-1t"> 
    <div class="item">
     <div class="container text-center">
{#          <div class="container">#}
{#     <div class="card-box align-center">#}
{#   <iframe width="800" height="600" src="https://www.youtube.com/embed/UxLKC02Tij4" title="Мухоморный микродозинг. Микродозинг красного мухомора. Михаил Вишневский" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>#}
{#     </div>#}
{#   </div> #}
         <br>
       <div class="text-box">
           <div style="flex-grow: 1;">
             <span class="icon-title card-title mbr-black mbr-fonts-style display-7">
                       <strong>О нас</strong>
                     </span>
                     <span class="icon-text mbr-black mbr-fonts-style display-1 " style="font-size:large; line-height: 1.5;">
                     Добро пожаловать в компанию, которая является лидером в области продажи полезных грибов в Казахстане!
                         Мы гордимся нашими тремя годами успешной деятельности на рынке, что подтверждает нашу надежность
                         и отличное качество наших продуктов. За это время мы смогли завоевать доверие и лояльность более
                         5000 клиентов, которые выбрали нас в качестве своего надежного поставщика. Одним из наших главных
                         преимуществ является полностью натуральный состав наших продуктов. Мы строго следим за качеством
                         и безопасностью нашей продукции, обеспечивая наших клиентов только самыми высококачественными и
                         безопасными продуктами. Мы понимаем важность осторожного подхода к использованию грибов, поэтому
                         мы предлагаем консультации перед покупкой. Наша команда экспертов всегда готова проконсультировать и
                         рассказать о наших продуктах, помогая нашим клиентам сделать информированный выбор и обеспечивая
                         их комфорт и безопасность. Присоединяйтесь к нам сегодня и откройте для себя преимущества
                         микродозирования грибов, предлагаемые нами. Мы гарантируем, что ваш опыт будет безопасным,
                         эффективным и результативным. Выберите натуральное, выберите качество, выберите нашу грибную компанию.
                         Сделайте шаг к новым горизонтам вашего здоровья и благополучия уже сегодня!
                     </span>
                   </div>
                 </div>
         <button class="btn btn-secondary display-5" href="tel:+77471123101">Получить конультацию</button>

         </div>
       </div>
     </div>
     <br>
{#     <div class="container">#}
{#     <div class="item">#}
{#       <div class="text-box">#}
{#         <div style="flex-grow: 1;">#}
{#           <span class="icon-title card-title mbr-black mbr-fonts-style display-7">#}
{#             <strong>Биохакинг грибами позволяет вам достичь максимальной продуктивности</strong>#}
{#           </span>#}
{#           <span class="icon-text mbr-black mbr-fonts-style display-4">#}
{#             И успеха во всех сферах жизни. Вы сможете улучшить память, концентрацию и внимание, а также повысить вашу способность сосредоточиться на задачах. Этот подход поможет вам выделяться и достигать своих самых амбициозных целей.#}
{#   Наши грибы для биохакинга выращиваются с особым вниманием к качеству и содержанию активных компонентов. Мы гарантируем эффективность и безопасность наших продуктов, чтобы вы могли использовать их с уверенностью и получать максимальные результаты.#}
{#   Не упускайте возможность стать лучшей версией себя с помощью биохакинга грибами. Закажите наши грибы уже сегодня и откройте новые горизонты своих возможностей, достигая новых высот в вашей производительности и благополучии.#}
{#           </span>#}
{#         </div>#}
{#       </div>#}
{#     </div>#}
{#   </div>#}
     <br>
   <!-- 1321321 -->
   <!-- <div class="container">
     <div class="card-box align-center">
   <iframe width="800" height="600" src="https://www.youtube.com/embed/UxLKC02Tij4" title="Мухоморный микродозинг. Микродозинг красного мухомора. Михаил Вишневский" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     </div>
   </div> -->
   <!-- 1231241 -->
  
   <div class="container">
           <div class="row justify-content-center">
               <div class="col-md-12 col-lg-12">
{#                   <div class="card-wrapper mb-4">#}
{#                       <div class="card-box align-center">#}
{#                           <h2 class="card-title mbr-fonts-style mb-4 display-2">Процесс производства</h2>#}
{#                       </div>#}
{#                   </div>#}
               </div>

               <style>
                 .item {
                   display: flex;
                   flex-wrap: wrap;
                 }

                 .text-box {
                   display: flex;
                   align-items: center;
                   margin-bottom: 20px;
                 }

                 .text-box img {
                   max-width: 100%;
                   height: auto;
                   margin-right: 20px;
                 }

                 @media (max-width: 768px) {
                   .text-box {
                     flex-direction: column;
                     text-align: center;
                   }

                   .text-box img {
                     order: -1;
                     margin-right: 0;
                     margin-bottom: 20px;
                   }
                 }
               </style>

{#               <div class="item">#}
{#                 <div class="text-box">#}
{#                   <img src="/static/images/image_2023-06-14_19-31-40.png" alt="Картинка" style="width: 300px; height: 300px;">#}
{#                   <div style="flex-grow: 1;">#}
{#                     <span class="icon-title card-title mbr-black mbr-fonts-style display-7">#}
{#                       <strong> <div class="icon-box">#}
{#                          <span class="step-number mbr-fonts-style display-5">1</span>#}
{#                      </div> Мы собираем грибы в лесах</strong>#}
{#                     </span>#}
{#                     <span class="icon-text mbr-black mbr-fonts-style display-4">#}
{#                       В Приозерском районе Ленобласти, а также в Карелии (Северное Приладожье), Архангельской, Тверской, Вологодской, Новгородской, Псковской областях и в Республике Беларусь#}
{#                     </span>#}
{#                   </div>#}
{#                 </div>#}
{#               #}
{#                 <div class="item">#}
{#                   <div class="text-box">#}
{#                     <div style="flex-grow: 1;">#}
{#                       <span class="icon-title card-title mbr-black mbr-fonts-style display-7">#}
{#                         <strong><div class="icon-box">#}
{#                          <span class="step-number mbr-fonts-style display-5">2</span>#}
{#                      </div> Грибы сушим в специальном аппарате</strong>#}
{#                       </span>#}
{#                       <span class="icon-text mbr-black mbr-fonts-style display-4">#}
{#                         Грибы сушатся по специальной технологии, методом двойного («сквозного») холодного обдува, при t до 35°; продолжительность аппаратной сушки при этом может достигать 3-х суток (затем ещё следует финальное досушивание). Данная технология позволяет сохранять все лечебные свойства данного гриба.#}
{#                       </span>#}
{#                     </div>#}
{#                     <img src="/static/images/image_2023-06-14_19-31-40%20(2).png" alt="Картинка" style="width: 300px; height: 300px;">#}
{#                   </div>#}
{#                 </div>#}
{#   #}
{#                   #}
{#               <div class="item mbr-flex">#}
{#                 <div class="text-box" style="display: flex; align-items: center;">#}
{#                   <img src="/static/images/dried_mushrooms.jpg" alt="Картинка" style="width: 300px; height: 300px;">#}
{#                   <div style="flex-grow: 1;">#}
{#                     <span class="icon-title card-title mbr-black mbr-fonts-style display-7">#}
{#                       <strong><div class="icon-box">#}
{#                          <span class="step-number mbr-fonts-style display-5">3</span>#}
{#                      </div> Высушенные грибы упаковываем в герметичную тару</strong>#}
{#                     </span>#}
{#                     <span class="icon-text mbr-black mbr-fonts-style display-4">#}
{#                       Хранятся заготовленные грибы в тёмном, прохладном и сухом месте, герметично закрытые.#}
{#                     </span>#}
{#                   </div>#}
{#                 </div>#}
{#               </div>#}
{#   #}
{#   #}
{#               <div class="item">#}
{#                 <div class="text-box" style="display: flex; align-items: center;">#}
{#                   <div style="flex-grow: 1;">#}
{#                     <span class="icon-title card-title mbr-black mbr-fonts-style display-7">#}
{#                       <strong><div class="icon-box">#}
{#                          <span class="step-number mbr-fonts-style display-5">4</span>#}
{#                      </div> Грибы перемалываем блендером в порошок</strong>#}
{#                     </span>#}
{#                     <span class="icon-text mbr-black mbr-fonts-style display-4">#}
{#                       Непосредственно перед фасовкой перемалываются на профессиональном оборудовании#}
{#                     </span>#}
{#                   </div>#}
{#                   <img src="/static/images/image_2023-06-14_19-31-40%20(4).png" alt="Картинка" style="width: 300px; height: 300px;">#}
{#                 </div>#}
{#               </div>#}
{#   #}
{#   #}
{#               <div class="item">#}
{#                 <div class="text-box display: flex; align-items: center;">#}
{#                     <img src="/static/images/Gribnoj-poroshok-prigotovlenie.jpg" alt="Картинка" style="width: 300px; height: 300px;">#}
{#                     <div style="flex-grow: 1;">#}
{#                       <span class="icon-title card-title mbr-black mbr-fonts-style display-7">#}
{#                         <strong><div class="icon-box">#}
{#                          <span class="step-number mbr-fonts-style display-5">5</span>#}
{#                      </div> Порошок капсулируем</strong>#}
{#                       </span>#}
{#                       <span class="icon-text mbr-black mbr-fonts-style display-4">#}
{#                         С соблюдением всех нормативов стерильности#}
{#                       </span>#}
{#                     </div>#}
{#                 </div>#}
{#               </div>#}
{#   #}
{#   #}
{#               <div class="item mbr-flex last">#}
{#                 <div class="text-box display: flex; align-items: center;">#}
{#                     <div style="flex-grow: 1;">#}
{#                       <span class="icon-title card-title mbr-black mbr-fonts-style display-7">#}
{#                         <strong><div class="icon-box">#}
{#                          <span class="step-number mbr-fonts-style display-5">6</span>#}
{#                      </div> И упаковываем</strong>#}
{#                       </span>#}
{#                       <span class="icon-text mbr-black mbr-fonts-style display-4">#}
{#                         Пакуются в ПЭ-банку либо zip-lock пакет + бумажный крафт-пакет#}
{#                       </span>#}
{#                     </div>#}
{#                     <img src="/static/images/upakovka.PNG" alt="Картинка" style="width: 300px; height: 300px;">#}
{#                 </div>#}
{#               </div>#}
{#               </div>      #}
               </div>
           </div>
       </div>
     </section>
     {% endblock %}