{% extends 'gryb_app/base.html' %}
{% load static %}

{% block content %}
<body>
  <br><br><br>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font-family: Verdana, sans-serif;
        margin: 0;
      }

      .carousel-inner {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .carousel-inner .item {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
      }

      .carousel-inner .item.active {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .carousel-inner img {
        width: 80%;
        height: auto;
      }

      .carousel-caption {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        color: #fff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .carousel-caption h3 {
        margin: 0;
      }

      .carousel-inner .item:not(.active) .carousel-caption {
        display: none;
      }

      .title {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  color: #ffffff;
  line-height: 44px;
}

.title span {
  display: inline;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5), 0px 0 0 rgba(0, 0, 0, 0.5);
  padding: 0 0% 0 0;
  color: #FFFFFF;
  line-height: 14px;
  font-size: 66px;
}

@media (max-width: 768px) {
  /* Применяем стили для устройств с шириной экрана до 768px */
  .title {
    font-size: 3.2rem;
    line-height: 32px;
  }

  .title span {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  /* Применяем стили для устройств с шириной экрана до 480px */
  .title {
    font-size: 2.6rem;
    line-height: 26px;
  }

  .title span {
    font-size: 18px;
  }
}
    </style>
  </head>
  <body>
    <div class="carousel-inner">
      {% for image in carousel_images %}
      <div class="item {% if forloop.first %}active{% endif %}">
        <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="w-100">
        <div class="carousel-caption">
          <h3>{{ image.caption }}</h3>
          <h3 class="title"><span>{{ image.text }}</span></h3>
          {% if image.link %}
          <a class="btn btn-secondary display-7" href="{{ image.link }}">{{ image.button_text }}</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <script>
      var carouselItems = document.querySelectorAll('.carousel-inner .item');
      var currentItem = 0;

      function showNextItem() {
        carouselItems[currentItem].classList.remove('active');
        currentItem = (currentItem + 1) % carouselItems.length;
        carouselItems[currentItem].classList.add('active');
      }

      setInterval(showNextItem, 3000); // Изменяем каждые 3 секунды
    </script>
  </body>

  <br><br>
  
<br id="section1" ><br>
 <div class="mbr-section-head">
    <h2 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">Ознакомьтесь с нашей продукцией</h2>
  </div>

  <br><br>
  <div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-12 col-md-4">
      <div class="item-wrapper">
        <div class="item-img">
          <a href="{% url 'gryb_app:product_detail' pk=product.pk %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
          </a>
        </div>
        <div class="item-content">
          <span class="item-title mbr-fonts-style display-7"><strong>{{ product.name }}</strong></span>
          <p class="mbr-text mbr-fonts-style mt-3 display-7">{{ product.group }}</p>
        </div>
        <div class="mbr-section-btn item-footer mt-2">
          <a href="{% url 'gryb_app:product_detail' pk=product.pk %}" class="btn item-btn btn-secondary display-7">Подробнее</a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 and not forloop.last %}
  
    {% endif %}
    {% endfor %}
  </div>
</div>
</body>
<!-- 1312312  -->
<section data-bs-version="5.1" class="features20 cid-sUAQ2SPdBH" id="features21-1t">  
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
              <div class="card-wrapper mb-4">
                  <div class="card-box align-center">
                      <h2 class="card-title mbr-fonts-style mb-4 display-2">Процесс производства</h2>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-11">
              <div class="item mbr-flex">
                  <div class="icon-wrap w-100">
                      <div class="icon-box">
                          <span class="step-number mbr-fonts-style display-5">1</span>
                      </div>
                  </div>
                  <div class="text-box">
                      <span class="icon-title card-title mbr-black mbr-fonts-style display-7">
                          <strong>Мы собираем грибы в лесах</strong></span>
                      <span class="icon-text mbr-black mbr-fonts-style display-4">В Приозерском районе Ленобласти, а также в Карелии (Северное Приладожье), Архангельской, Тверской, Вологодской, Новгородской, Псковской областях и в Республике Беларусь</span>
                  </div>
              </div>
              <div class="item mbr-flex">
                  <div class="icon-wrap w-100">
                      <div class="icon-box">
                          <span class="step-number mbr-fonts-style display-5">2</span>
                      </div>
                  </div>
                  <div class="text-box">
                      <span class="icon-title card-title mbr-black mbr-fonts-style display-7">
                          <strong>Грибы сушим в специальном аппарате</strong></span>
                      <span class="icon-text mbr-black mbr-fonts-style display-4">Грибы сушатся по специальной технологии, методом двойного («сквозного») холодного обдува, при t до 35°; продолжительность аппаратной сушки при этом может достигать 3-х суток (затем ещё следует финальное досушивание). Данная технология позволяет сохранять все лечебные свойства данного гриба.</span>
                  </div>
              </div>
              <div class="item mbr-flex">
                  <div class="icon-wrap w-100">
                      <div class="icon-box">
                          <span class="step-number mbr-fonts-style display-5">3</span>
                      </div>
                  </div>
                  <div class="text-box">
                      <span class="icon-title card-title mbr-black mbr-fonts-style display-7">
                          <strong>Высушеные грибы упаковываем в герметичную тару</strong></span>
                      <span class="icon-text mbr-black mbr-fonts-style display-4">Хранятся заготовленные грибы в тёмном, прохладном и сухом месте, герметично закрытые.&nbsp;</span>
                  </div>
              </div>
              <div class="item mbr-flex">
                  <div class="icon-wrap w-100">
                      <div class="icon-box">
                          <span class="step-number mbr-fonts-style display-5">4</span>
                      </div>
                  </div>
                  <div class="text-box">
                      <span class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Грибы перемалываем блендером в порошок</strong></span>
                      <span class="icon-text mbr-black mbr-fonts-style display-4">Непосредственно перед фасовкой перемалываются на профессиональном оборудовании</span>
                  </div>
              </div>
              <div class="item mbr-flex">
                  <div class="icon-wrap w-100">
                      <div class="icon-box">
                          <span class="step-number mbr-fonts-style display-5">5</span>
                      </div>
                  </div>
                  <div class="text-box">
                      <span class="icon-title card-title mbr-black mbr-fonts-style display-7">
                          <strong>Порошок капсулируем</strong></span>
                      <span class="icon-text mbr-black mbr-fonts-style display-4">С соблюдением всех нормативов стерильности</span>
                  </div>
              </div>
              <div class="item mbr-flex last">
                  <div class="icon-wrap w-100">
                      <div class="icon-box">
                          <span class="step-number mbr-fonts-style display-5">6</span>
                      </div>
                  </div>
                  <div class="text-box">
                      <span class="icon-title card-title mbr-black mbr-fonts-style display-7">
                          <strong>И упаковываем</strong></span>
                      <span class="icon-text mbr-black mbr-fonts-style display-4">Пакуются в ПЭ-банку либо zip-lock пакет + бумажный крафт-пакет</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- 121234123 -->
<section data-bs-version="5.1" class="features22 cid-sNZf1L6QHH" id="features23-6">
<div class="container">

    <span  class="icon-title card-title mbr-black mbr-fonts-style display-7">

  </span>
  <p class="mbr-text card-text mbr-fonts-style display-7">
 Наверняка многие слышали про микродозирование грибов от знакомых и друзей. Но, к сожалению, не все понимают, как работают определенные грибы и для каких целей их можно применить. Например, если вы хотите повысить работоспособность в интеллектуальной сфере или улучшить рефлексы и память, вам отлично подойдет Ежовик гребенчатый, он же Львиная борода. Его состав богат эринацинами и гериценонами. Эти вещества повышают фактор роста нейронов на аксонах нервных клеток, тем самым укрепляя нервные связи. Есть случаи, когда ежовик помогал при болезни Паркинсона и рассеянном склерозе.
<br>
Если вас беспокоят нервные срывы, бессонница и вредные привычки, вам поможет Красный мухомор. Тут действующее вещество – мусцимол, оказывающий мягкое воздействие на психику, корректирует поведение и улучшает сон. Мухомор – отличное решение для людей, страдающих алкогольной зависимостью.
<br>
Для спортсменов существует Кордицепс военный, снимающий усталость и повышающий показатели в спорте. Причем делает он это без нагрузки на сердце и сосуды.
<br>

Заядлым кофеманам мы можем предложить альтернативу в виде Чаги. Этот невероятно полезный гриб взбодрит не хуже эспрессо, хотя не имеет в составе кофеина. При этом он борется с заболеваниями желудка, кишечника и применяется при онкологии.
<br>

Если вас беспокоят паразиты, обратите внимание на Лисичку. Опыты показали, что она убивает личинки ленточных червей, гельминтов и прочих паразитов.
<br>

С сердечными проблемами помогает гриб Рейши, он же трутовик лакированный. Укрепляет стенки сосудов и выравнивает сердечный ритм.
<br>

Применение грибов для улучшения здоровья известно издревле, особенно в традиционной китайской медицине. В грибах очень много полезных для человека веществ.
<br>

Мы тщательно отобрали для вас именно те грибы, которые действительно работают на практике, поэтому подходите к этому благоразумно. Соблюдайте правильную дозировку. Не бросайте начатый курс, и вы гарантировано получите результат. Будьте осознаны и здоровы.
  </p>
<button class="btn btn-secondary display-7" href="tel:+77471123101">Получить конультацию</button>
</div>
<br>
<div class="container">
    <div class="row justify-content-center content-row mt-4">
          <div class="card p-4 p-md-3 col-md-6 col-lg-4">
              <div class="card-box">
                  <div class="title">
                      <span1 class="num mbr-fonts-style"><strong>01.</strong></span1>
                  </div>
                  <span  class="card-title mbr-fonts-style display-5">
                      <strong>Свяжитесь с нами</strong></span >
                  <p class="mbr-text card-text mbr-fonts-style display-7">
                      Напишите нам на Whatsapp или в Телеграм и мы оформим ваш заказ</p>
              </div>
          </div>
          <div class="card p-4 p-md-3 col-md-6 col-lg-4">
              <div class="card-box">
                  <div class="title">
                      <span1 class="num mbr-fonts-style"><strong>02.</strong></span1>
                  </div>
                  <span  class="card-title mbr-fonts-style display-5"><strong>Оплата</strong></span >
                  <p class="mbr-text card-text mbr-fonts-style display-7">
                      Принимаем оплату наличными или переводом на карту&nbsp;</p>
              </div>
          </div>
          <div class="card p-4 p-md-3 col-md-6 col-lg-4">
              <div class="card-box">
                  <div class="title">
                      <span1 class="num mbr-fonts-style"><strong>03.</strong></span1>
                  </div>
                  <span  class="card-title mbr-fonts-style display-5">
                      <strong>Доставка</strong></span >
                  <p class="mbr-text card-text mbr-fonts-style display-7">
                      В Алматы и Астане: в течении дня. В регионы:&nbsp; посылкой или курьером в течении 3-х дней</p>
              </div>
          </div>

      </div>
  </div>
</section>

</section>

<!-- 1231 -->
<section class="seo">
  <style>
  
  .seo__text h1, .seo__text h2, .seo__text h3, .seo__text h4, .seo__text h5, .seo__text h6 {
      font-family: 'Jost', sans-serif;
      font-size: 1.2rem;
      line-height: 1.5;
      color: #111111;
      word-break: break-word;
      word-wrap: break-word;
      font-weight: 700;
      margin-bottom: 0.5rem;
  }
  .seo__text p, .seo__text li {
    font-family: 'Jost', sans-serif;
      font-size: 1.1rem;
      line-height: 1.5;
      color: #111111;
      word-break: break-word;
      word-wrap: break-word;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  .seo__text ul {
    margin-bottom: 1rem !important;
  }
  .seo__text {
    padding-top: 80px;
  }
  </style>
  <div class="container">
  <div class="seo__text">
  <h3>Микродозинг грибами в Алматы и Астане по недорогой цене</h3>
  
  <p>На данный момент микродозинг грибов как альтернативная медицинская методика начинает набирать все большую популярность. Уже официально доказано, что, при приеме микродозировок в ограниченном количестве удается не только полностью избежать негативного влияния на организм, но и получить массу положительных фармакологических эффектов.</p>
  
  <p>Научно доказано положительное влияние микродоз как на физическое здоровье, так и на эмоциональное состояние человека, что делает представленные методики лечения наиболее привлекательным.</p>
  
  <p>Наша компания предоставляет своим клиентам возможность на абсолютно легальных условиях приобрести высококачественный натуральный продукт, который полностью соответствует стандартам качества и является полностью безопасным для здоровья. Мы обеспечиваем также предварительную подготовку дозировок, что дает возможность нашим клиентам не переживать о необходимости самостоятельного дозирования и возможных рисках в случае ошибки. Мы обеспечиваем высокую точность и, как следствие, полностью исключаем риски для здоровья.</p>
  <p><br></p>
  <h3>Купить микродозинг мухомора в капсулах в Алматы / Астане с доставкой по всему Казахстану</h3>
  <p>Одним из наиболее существенных преимуществ обращения в нашу компанию является то, что грибной микродозинг у нас можно приобрести полностью легально и с минимальными временными затратами. Мы обладаем множеством существенных преимуществ по сравнению с конкурентами, среди которых наиболее существенными можно назвать:</p>
  <ul>
    <li>Высокое качество сырья;</li>
    <li>Точность дозировок;</li>
    <li>Полностью экологически чистый продукт;</li>
    <li>Широкое разнообразие доступных вариантов.</li>
  </ul>
  
  <p>Кроме того, отдельного внимания заслуживает то, что мы осуществляем оперативную доставку в любые города республики Казахстан. Это позволяет значительно большему количеству клиентов пользоваться нашими услугами с максимальным комфортом.</p>
  
  <p>Важно отметить тот факт, что мы обеспечиваем правильные условия доставки, что гарантирует полную сохранность капсул и сохранение всех полезных свойств, которыми обладают грибы, приобретенные вами.</p>
  
  <p>Мы делаем все необходимое для того, чтобы сотрудничество с нами было наиболее комфортным для максимального числа людей в республике Казахстан.</p>
  
  <h3>Микродозинг капсулами с мухомором, ежовиком, шиитаке и т.д. в Казахстане</h3>
  
  <p>Еще одной важной особенностью обращения в нашу компанию является то, что микродозинг грибами можно приобрести во множестве различных вариаций. На наших фермах выращивается множество сортов грибов, каждый из которых обладает своими уникальными свойствами.</p>
  
  <p>Важно отметить тот факт, что абсолютно каждая разновидность микродозинга является полностью натуральной и безопасной для здоровья при соблюдении рекомендованных дозировок. При осуществлении заказа наши клиенты получают заранее подготовленные капсулы с точным количеством продукта, которое необходимо для получения заявленного фармакологического эффекта, не допуская при этом негативных воздействий для здоровья.</p>
  
  <p>Данная особенность выгодно выделяет нас на фоне подавляющего большинства конкурентов и делает обращение в нашу компанию наиболее привлекательным вариантом в республике Казахстан.</p>
  
  <p><strong>Продажа грибного микродозинга в капсулах в Алматы, Астане в Казахстане&nbsp;</strong></p>
  
  <p>Важно отметить тот факт, что микродозинг красного мухомора в нашей компании реализуется в удобных для употребления капсулах, которые существенно упрощают процесс дозировки грибов, принимаемых в лекарственных целях.</p>
  
  <p>Перед приемом препарата капсулы не нужно вскрывать. Их оболочка растворяется в организме, высвобождая содержимое непосредственно в желудке, что ускоряет процесс усвоения и, как следствие, повышает эффективность от приема препарата.</p>
  
  <p>Наша компания делает все необходимое для того, чтобы сотрудничество с нами было максимально комфортным для максимального количества пользователей.</p>
  
  <p><strong>Где заказать или купить микродозинг грибами или мухомором в Алматы, Астане в Казахстане?</strong></p>
  
  <p>На данный момент купить микродозинг в Казахстане можно множеством различных способов. Мы предоставляем возможность своим клиентам совершить покупку максимально качественного сырья, которое является полностью безопасным для здоровья.</p>
  
  <p>На нашем сайте представлен удобный каталог, позволяющий быстро изучить весь доступный ассортимент и его особенности, а также сформировать корзину для осуществления заказа. Одним из важных достоинств сотрудничества с нами можно назвать то, что приобрести и оплатить любой вариант продукции можно в режиме онлайн вне зависимости от того, где вы находитесь.</p>
  
  <p>Мы осуществляем оперативную доставку приобретенного товара в любые города республики Казахстан с соблюдение всех норм хранения для того, чтобы грибы не потеряли своих первоначальных свойств и по-прежнему были безопасны для вашего здоровья.</p>
  
  <p>Важно отметить также и то, что оформление заказа занимает минимальное количество времени, что делает использование нашего сайта еще более комфортным.</p>
  
  <p><strong>Цена и стоимость грибного микородозинга с мухомором в магазине Gryb.kz&nbsp;</strong></p>
  
  <p>На данный момент на микродозинг мухоморов цена на нашем сайте зависит от сочетания множества различных особенностей. Среди них наибольшее значение имеют:</p>
  
  <ul>
    <li>Сорт грибов;</li>
    <li>Количество капсул в заказе;</li>
    <li>Расстояние доставки;</li>
    <li>Размер дозировки.</li>
  </ul>
  
  <p>Однако, несмотря на большое количество влияющих особенностей, мы делаем все необходимое для того, чтобы предоставлять своим клиентам наиболее выгодные условия покупки, не теряя при этом в качестве продукции.</p>
  
  <p>Принимая во внимание все описанные особенности, можно сделать вывод о том, что обращение в нашу компанию для покупки микродозинга грибами является наиболее удачным в республике Казахстан как с точки зрения качества, так и стоимости препаратов.</p>
  
  <p>Мы гарантируем полную безопасность для здоровья при соблюдении рекомендованной дозировки, а также достижение заявленного фармакологического эффекта.</p>
  </div>
  </div>
  </section>
  
    
  <!-- Yandex.Metrika counter -->
  <!-- <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  
     ym(88752121, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/88752121" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
  <!-- /Yandex.Metrika counter -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-0MT9M9LW9N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-0MT9M9LW9N');
  </script>
  <script type="application/ld+json">
  </script> -->
  </body>
{% endblock %}
